/* .mapContainer {
    height: 80vh;
    width: 100%;
}

.infoBoxContainer {
    padding: 1rem 2rem;
    height: 20vh;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    text-align: center;
} */
